# Application
src/web/app/plugins/*
!src/web/app/plugins/.gitkeep
!/src/web/app/plugins/test-plugin/
src/web/app/mu-plugins/*/
src/web/app/upgrade
src/web/app/uploads/*
!src/web/app/uploads/.gitkeep
src/web/app/cache/*

# WordPress
src/web/wp
src/web/.htaccess
/src/web/app/themes/twentytwentythree/
/src/web/app/themes/twentytwentytwo/

# Logs
*.log

# Dotenv
src/.env

# Composer
src/vendor

# WP-CLI
src/wp-cli.local.yml

# IntelliJ IDE
.idea

# MacOS
.DS_Store
